@model PersonModel


@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>

@if(Model != null) {
    <p>
        Je voornaam is: @Model.Voornaam <br />
        Je achternaam is: @Model.Achternaam <br />
    </p>
}

<form method="post">
    <input type="text" name="voornaam" placeholder="Voornaam" /> <br />
    @Html.ValidationMessageFor(m => m.Voornaam) <br />
    <input type="text" name="achternaam" placeholder="Achternaam" /> <br />
    @Html.ValidationMessageFor(m => m.Achternaam) <br />
    <input type="datetime" name="geboortedatum" placeholder="Geboortedatum" /> <br />
    @Html.ValidationMessageFor(m => m.Geboortedatum) <br />
    <input type="text" name="emailadres" placeholder="Emailadres" /> <br />
    @Html.ValidationMessageFor(m => m.Email) <br />
    <input type="text" name="adres" placeholder="Adres" /> <br />
    @Html.ValidationMessageFor(m => m.Adres) <br />
    <input type="text" name="woonplaats" placeholder="Woonplaats" /> <br />
    @Html.ValidationMessageFor(m => m.Woonplaats) <br />
    <input type="text" name="postcode" placeholder="Postcode" /> <br />
    @Html.ValidationMessageFor(m => m.Postcode) <br />
    <input type="submit" value="verstuur" />
</form>

<div class="contact">

</div>

